{
  "mcpServers": {
    "context7": {
      "command": "npx",
      "args": [
        "-y",
        "@upstash/context7-mcp@latest"
      ]
    },
    "ikas": {
      "url": "https://api.myikas.com/api/v2/admin/mcp"
    },
    "ikas-admin": {
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote",
        "https://api.myikas.com/api/v2/admin/mcp",
        "--header",
        "Authorization:${IKAS_ADMIN_AUTH_TOKEN}"
      ],
      "env": {
        "IKAS_ADMIN_AUTH_TOKEN": "BURAYA_KENDI_IKAS_ADMIN_TOKENINIZI_YAZIN"
      }
    },
    "ikas-code-components": {
      "command": "npx",
      "args": [
        "ikas-mcp"
      ]
    },
    "playwright": {
      "command": "npx",
      "args": [
        "-y",
        "@playwright/mcp@latest"
      ]
    },
    "shadcn": {
      "command": "npx",
      "args": [
        "-y",
        "shadcn@latest",
        "mcp"
      ]
    }
  }
}
