@import "../../sub-components/FilterAndSortBar/styles.css";
@import "../../sub-components/ProductGrid/styles.css";
@import "../../sub-components/PaginationLoadMore/styles.css";
@import "../../sub-components/ProductCard/styles.css";
@import "../../sub-components/Button/styles.css";
@import "../../sub-components/TextLink/styles.css";
@import "../../sub-components/CloseButton/styles.css";

.ikas-collection-section {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--24KlcgGmm9);
  color: var(--pxNuSoudLn);
  overflow: visible;
}

.ikas-collection-section__container {
  max-width: var(--max-site-width, 1560px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: visible;
}
